.topnav{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: silver solid 0.1px;
    margin-left: 15px;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
}
option, select{
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    font-weight:100;
}