.cart{
    margin-top: 20px;
    margin-bottom: 30px;
}

.carttitle{
    width:100%;
    height: 2.5rem;
    border-bottom: silver solid 0.1px;
    font-size: 1.2rem;
    display: block;
    margin-right: 90px;
}
.cartimg{
    width: 4rem;
    height: 5rem;
    margin-right: 20px;
}
.cardcart{
    display: flex;
    margin-top: 30px;
}
